._*
*.DS_Store

## Core latex/pdflatex auxiliary files: 
*.aux 
*.log 
*.fls 
*.out 
*.toc 
*.fdb_latexmk 
*.dvi
*.synctex.gz
*.ist
*.lof

*.acn
*.bbl
*.bcf
*.blg
*.glo
*.xml

*.pdf

## Bibliography && glossary
*.acr
*.alg
*.glg
*.gls

